<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#152126">
    <link rel="stylesheet" href="css/style.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Aclonica&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Podkova&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Offside&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:500,600,700&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,800,800i,900,900i&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,500,700,800,900&display=swap"
        rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">

    <title>Tool- Parag Rudani</title>
</head>

<body>
    <nav>
        <!-- Logo -->
        <div class="logo">
            <a href="https://www.paragrudani.com">
                <h1>Parag Rudani</h1>
            </a>
        </div>

        <!-- Burger Menu -->
        <div class="burger">
            <div class="line line1"></div>
            <div class="line line2"></div>
            <div class="line line3"></div>
        </div>
    </nav>

    <!-- navigation links -->
    <div class="nav-links">
        <ul>
            <li class="nav-link"><a href="https://www.paragrudani.com">Home</a></li>
            <li class="nav-link"><a href="About me.html">About me</a></li>
            <li class="nav-link"><a href="contact.html">Contact me</a></li>
            <li class="nav-link"><a href="project.html">My Projects</a></li>
        </ul>

        <div class="copyright">
            <p> ©2019 <a href="https://www.paragrudani.com">paragrudani.com</a></p>
        </div>
    </div>

    <main>
        <section>
            <div class="desc">
                <p>
                    Get details of any existing <span>Instagram</span> user <span>on the go</span>
                </p>
            </div>

            <div class="img">
                <img src="photos/katka-pavlickova--1MWTZamkwI-unsplash.jpg" alt="instagram user photo">
            </div>
        </section>

        <section class="input">
            <form action="/" method="post">
                <input type="text" name="Search" id="search" placeholder="type username" required>
                <button> <svg width="37" height="24" viewBox="0 0 37 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M3 12.3789C3.495 12.3789 23.4188 12.3789 33.3188 12.3789M33.3188 12.3789L23.7281 3M33.3188 12.3789L23.7281 21.2368"
                            stroke="black" stroke-opacity="0.7" stroke-width="5" stroke-linecap="round" />
                    </svg>
                 </button>
            </form>
        </section>
    </main>

    <footer>
        <a href="privacy policy">
            <p>Imprint | Privacy</p>
        </a>
    </footer>
    <script src="js/about.js"></script>
</body>

</html>